<%= link_to('Back to All Boroughs', boroughs_path) %>

<h2><%= @borough.name %></h2>

<div class="category sixteen columns">
  <h3>Total Population :<%= @borough.total_pop %></h3>
  <h3>Total Enrollment: <%= @borough.enrollment %> Students</h3>
</div>

<%= render partial: 'layouts/common_core', locals: {entity: @borough} %>
