<%= link_to('Back to All Schools', schools_path) %>

<h2><%= @school.name %></h2>


<h4><%= @school.system_code %></h4>
<h3>Managed By:      <%= @school.managed_by %></h3>
<h3>Category:        <%= @school.category %></h3>
<h3>Grades Taught:   <%= @school.grades %></h3>
<h3>Opened In:       <%= @school.open_date %></h3>
<h3>Principal:       <%= @school.principal_name %></h3>

<h6>Address:</h6>
<h3>
    <%= @school.address %>,
    <%= @school.city %>,
    <%= @school.state %> -
    <%= @school.zip %>
</h3>

<hr>

<% unless @school.pr_overall.nil? %>
  <div class="progress reports">
    <h4>School Progress Reports</h4>
    <p>Progress Reports help parents, teachers, principals, and school communities understand schools' strengths and weaknesses. Progress Reports grade each school with an A, B, C, D, or F and are based student progress (60%), student performance (25%), and school environment (15%). Scores are based on comparing results from one school to a peer group of up to 40 schools with the most similar student population and to all schools citywide.</p>
    <h6>2012-2013 Overall Grade: <%= @school.pr_overall %></h6>
    <table border="1" style="width:300px">
      <tr>
        <th>Progress</th>
        <th>Performance</th>
        <th>Environment</th>
        <th>College and Career Readiness</th>
      </tr>
      <tr>
        <td><%= @school.progress_grade %></td>
        <td><%= @school.performance_grade %></td>
        <td><%= @school.env_grade %></td>
        <td><%= @school.readiness_grade %></td>
      </tr>
    </table>
    <% for i in 0..2 %>
      <h6><%=2010+i%> Overall Grade: <%= @school.overall_grades[i] %> </h6>
    <% end %>
  </div>
<% end %>

<% unless @school.math_num_tested.nil? %>
    <%= render partial: 'layouts/common_core', locals: {entity: @school} %>
<% end %>
