<br><br><br><hr><h1><%= @school.name %></h1>
<%= @school.system_code %><br><br>
<b>Managed By:</b>   <%= @school.managed_by %> <br>
<b>Category: </b>   <%= @school.category %><br>
<b>Grades Taught:</b>   <%= @school.grades %><br><br>
<hr>
<b>Opened In:</b>   <%= @school.open_date %><br>
<b>Principal:</b>   <%= @school.principal_name %><br><br>

<b>Address:</b><br>
<%= @school.address %><br>
<%= @school.city %><br>
<%= @school.state %><br>
<%= @school.zip %>

<% unless @school.pr_overall.nil? %>
<hr><br>
  <div class="progress reports">
    <h2>School Progress Reports</h2>
    <p>Progress Reports help parents, teachers, principals, and school communities understand schools' strengths and weaknesses. Progress Reports grade each school with an A, B, C, D, or F and are based student progress (60%), student performance (25%), and school environment (15%). Scores are based on comparing results from one school to a peer group of up to 40 schools with the most similar student population and to all schools citywide.</p>
    <h2>2012-2013 Overall Grade: <%= @school.pr_overall %></h2>

    <table border="1" style="width:300px">
      <tr>
        <th>Progress</th>
        <th>Performance</th>
        <th>Environment</th>
        <th>College and Career Readiness</th>
      </tr>
      <tr>
        <td><%= @school.progress_grade %></td>
        <td><%= @school.performance_grade %></td>
        <td><%= @school.env_grade %></td>
        <td><%= @school.readiness_grade %></td>
      </tr>
    </table><br><br>

    <b>2012 Overall Grade:</b> <%= @school['2012_grade'] %><br>
    <b>2011 Overall Grade:</b> <%= @school['2011_grade'] %><br>
    <b>2010 Overall Grade:</b> <%= @school['2010_grade'] %><br><br><br>
  </div>
<% end %>

<% unless @school.math_num_tested.nil? %>
<hr><br>
  <div class="cc test results">
    <h2>2013 Common Core Test Results</h2>
    <p>As part of New York City public schools’ work to prepare students for future opportunities, students have been increasingly challenged by the new Common Core standards. These learning standards describe what all students need to know and be able to do to graduate from high school ready for college and careers.<br><br>

    In spring 2013, for the first time, the 3rd-to-8th-grade State tests began to assess the important skills students are learning through the Common Core. Unlike past year’s tests, the 2013 State Common Core tests focused more on the skills students need to become ready for college and a good job.<br><br>

    This year’s tests were harder than tests given in past years so the scores do not mean the same thing. Also, these tests are new, which means they do not measure progress. A lower score simply means that there are areas to focus on and improve. Schools are continuing to work with students on those areas.</p>

    <br><br>
    <h2>Mathematics Test Results</h2>
    Grades 3-8<br><br>

    <b>Total Students Tested:</b> <%= @school.math_num_tested %> Students <br><br>
    <table border="1" style="width:300px">
      <tr>
        <th>Level 1</th>
        <th>Level 2</th>
        <th>Level 3</th>
        <th>Level 4</th>
      </tr>
      <tr>
        <td><%= @school.math_pct_lvl1 %>%</td>
        <td><%= @school.math_pct_lvl2 %>%</td>
        <td><%= @school.math_pct_lvl3 %>%</td>
        <td><%= @school.math_pct_lvl4 %>%</td>
      </tr>
    </table><br><br><br>

    <h2>English Language Arts (ELA)</h2>
    Grades 3-8<br><br>

    <b>Total Students Tested:</b> <%= @school.ela_num_tested %> Students <br><br>
    <table border="1" style="width:300px">
      <tr>
        <th>Level 1</th>
        <th>Level 2</th>
        <th>Level 3</th>
        <th>Level 4</th>
      </tr>
      <tr>
        <td><%= @school.ela_pct_lvl1 %>%</td>
        <td><%= @school.ela_pct_lvl2 %>%</td>
        <td><%= @school.ela_pct_lvl3 %>%</td>
        <td><%= @school.ela_pct_lvl4 %>%</td>
      </tr>
    </table><br><br><br>
  </div>
<% end %>
<br><br><br>
<%= link_to('Back to All Schools', schools_path) %>
