<%= link_to('Back to All Districts', districts_path) %>

<h2>District <%= @district.district_title %></h2>

<div class="category sixteen columns">
  <h3>Year-To-Date Attendance (Average):  <%= @district.avg_attendance %>%</h3>
  <h3>Year-To-Date Enrollment (Average): <%= @district.avg_enrollment %> Students</h3>
</div>

<% unless @district.math_num_tested.nil? %>
  <%= render partial: 'layouts/common_core', locals: {entity: @district} %>
<% end %>
